<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pyaw</string>
	<key>CFBundleExecutable</key>
	<string>Pyaw</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.dolphinsareweird.inputmethod.Pyaw</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pyaw</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>io.github.dolphinsareweird.inputmethod.Pyaw.Burmese</key>
			<dict>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>TISInputSourceID</key>
				<string>io.github.dolphinsareweird.inputmethod.Pyaw.Burmese</string>
				<key>TISIntendedLanguage</key>
				<string>my</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>MenuIcon.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Mymr</string>
					<string>Latn</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>MenuIcon.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>MenuIcon.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>io.github.dolphinsareweird.inputmethod.Pyaw.Burmese</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>Pyaw_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>PyawInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>PyawInputController</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>io.github.dolphinsareweird.inputmethod.Pyaw</string>
	<key>TISIntendedLanguage</key>
	<string>my</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Mymr</string>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>MenuIcon.tiff</string>
</dict>
</plist>
